*.iml
*.ipr
*.iws
*/*.iml
*/*.ipr
*/*.iws
.idea
*.*~
*.log
*.releaseBackup
release.properties
target
.settings
.project
.classpath
.svn
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
.springBeans
api/src/main/resources/database/
atbapikey.properties
atbweb.properties
webfrontend/conf/application.conf
webfrontend/lib/
webfrontend/modules/
webfrontend/precompiled/
webfrontend/tmp/
