html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; font: 11px/18px arial, sans-serif; }

strong { font-weight: bold; }

#map_canvas { height: 100%; width: 100%; }

.dynInfo { color: #fee164; }
.dynInfoNor { color: #ffffff; }
.dynInfoEng { color: #f88a2f; }

h2 { color: #FFFFFF; margin: 15px 0 4px 0; padding: 0; }
table td { border-collapse: collapse; padding: 0; }
p { margin: 0; padding: 0 0 0 7px; }

a.button { border-radius: 3px; border: 1px solid #444; text-decoration: none; padding: 5px 15px; background: #333; }

#busbuddy { position: absolute; bottom: 55px; right: 25px; z-index: 100; }
#map_canvas { position: absolute; z-index: 0; }
#desc {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.9);
	color: #fff;
	z-index: 20;
	/* border radius */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;


	height: 0;
	overflow: hidden;

	-webkit-transition-property: height;
	-webkit-transition-delay: .2s;
	-webkit-transition-duration: 1s;

}

	#desc h2 { margin: 0; padding: 15px 15px 0 15px; }
	#desc a { color: #AAA; }
	#desc a:hover { text-decoration: none; }
	#desc p { margin: 0 0 10px 0; padding: 0 15px; }

	#desc.visible {
		height: 180px;
	}

header {
	padding: 15px 0 10px 40px;
	border-bottom: 1px solid #AAA;
	background: #efefef;

}
	header h1 {
		float: left;
		border-right: 1px dotted #888;
		margin: 0 30px 0 0;
		padding: 0 30px 0 0;
	}
	header input[type=text] {
		border: 1px solid #aaa;
		padding: 4px;
		font-size: 13px;
		color: #444;
		width: 350px;
		margin-top:-5px;
	}

@media only screen and (max-device-width: 480px) {
	header {
		padding: 10px 0 5px 20px;
	}
	header h1 {
		clear: both;
		float: none;
		border-right: none;
		margin: 0;
		padding: 0;
	}

	header input[type=text] {
		clear: both;
		width: 270px;
		margin: 5px 0 0 0;
	}
	#busbuddy {
		display: none;
	}
}

#orakel_answer {
	background: #222;
	color: #FFF;
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px solid #FFF;
	padding: 0 40px;

	-webkit-transition-property: padding;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-delay: 0.1s;
	-webkit-transition-timing-function: ease-in-out;

	-o-transition-property: padding;
	-o-transition-duration: 0.4s;
	-o-transition-delay: 0.1s;
	-o-transition-timing-function: ease-in-out;

	-moz-transition-property: padding;
	-moz-transition-duration: 0.4s;
	-moz-transition-delay: 0.1s;
	-moz-transition-timing-function: ease-in-out;
	
	transition-property: padding;
	transition-duration: 0.4s;
	transition-delay: 0.1s;
	ttransition-timing-function: ease-in-out;
}
	#orakel_answer.expanded {
		padding: 10px 40px;
	}

#result_list {
	
}
	#result_list.visible {
		

	}
	#result_list h4 {
		padding: 3px 40px;
		margin: 0;
		background: #222;
		color: rgb(253, 224, 64);
	}
	#result_list ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	#result_list ul li {
		padding: 2px 40px;
		cursor: pointer;
	}
	#result_list ul li:hover {
		background: #efefef;

	}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 35px;
	background: #222;
	color: #FFF;
}
	footer ul {
		margin: 0;
		padding: 0;
		list-style: none;

	}
	footer ul li {
		float: left;
	}
	footer ul li a {
		color: #FFF;
		display: block;
		padding: 0 15px;
		line-height: 35px;
		text-decoration: none;
	}
	footer ul li a:hover {
		background: #333;
	}










